github:
  # Your github access token
  access_token: 1234567890abcdefghijklmnopqrstuvwxyz
  labels:
    # Denotes an issue/pr as a proposal
    proposal: proposal
    # The label that denotes an issue/pr as in fcp
    fcp: final-comment-period
    # Denotes an issue/pr as fcp proposed
    fcp_proposed: proposed-final-comment-period
    # Denotes an issue/pr as fcp proposed with a disposition of merge
    disposition_merge: disposition-merge
    # Denotes an issue/pr as fcp proposed with a disposition of close
    disposition_close: disposition-close
    # Denotes an issue/pr as fcp proposed with a disposition of postpone
    disposition_postpone: disposition-postpone
  # The label that denotes an issue/pr as a proposal
  repo: matrix-org/matrix-doc
  # Organization containing the proposal team
  org: matrix-org
  # Team name whose members have the power to influence proposals
  team: spec-core-team
  # Path to a jinja2 template for the text that the bot will post when an FCP is proposed
  fcp_proposal_template_path: comment_templates/fcp_proposal.j2

fcp:
  # Length of a final comment in days
  time_days: 5
  # Path to a JSON file storing FCP timer information
  timer_json_filepath: timers.json

webhook:
  # Address to listen on
  host: 0.0.0.0
  # Port to listen on
  port: 5050
  # Your webhook secret that was given to github
  secret: zyxwvutsrqponmlkjihgfedcba0987654321

database:
  # The path to a postgres database
  postgres_path: "postgres://mscbot:somethingsecure@localhost/mscbot?sslmode=disable"

logging:
  # Max logging level
  # Allowed levels are 'INFO', 'WARNING', 'ERROR', 'DEBUG' where DEBUG is the most verbose
  level: INFO
  # Configure logging to a file
  file_logging:
    # Whether logging to a file is enabled
    enabled: false
    # The path to the file to log to. May be absolute or relative
    filepath: mscbot.log
  # Configure logging to the console output
  console_logging:
    # Whether logging to the console is enabled
    enabled: true
