Team member @{{comment_author}} has proposed to {{disposition}} this. The next step is
review by the rest of the tagged people:

{{team_votes}}

{{concerns}}

Once at least 75% of reviewers approve (and none object), this will enter its
final comment period. If you spot a major issue that hasn't been raised at any
point in this process, please speak up!

See [this document]() for info about what commands tagged team members can give me.